[Desktop Entry]
Encoding=UTF-8
Name=Gencoin
Comment=Gencoin P2P Cryptocurrency
Comment[fr]=Gencoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gencoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/gencoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/gencoin80.xpm
MimeType=x-scheme-handler/gencoin;
Categories=Office;
