#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_gencoin
#build/gencoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_gencoin)

DEB_INSTALL_EXAMPLES_gencoind += debian/examples/*
DEB_INSTALL_MANPAGES_gencoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 gencoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f gencoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake gencoin-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_gencoin
	#src/test_gencoin

# Ensure wrapper is set executable
binary-post-install/gencoind:
	chmod +x $(cdbs_curdestdir)usr/bin/gencoind
binary-post-install/gencoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/gencoin-qt
